.instructions {
    background-image: url("https://cdn.discordapp.com/attachments/709643259789705317/767884877160251392/kitchen.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.back-to-main {
    color: #F2055C;
    /* position: relative;
    top: 35px; */
    margin-top: 35px;
    margin-left: 35px;
}
.back-to-main h3:hover {
    text-decoration: underline;
}
.instructions-list { 
    color: white;
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    display: flex;
    /* vertical center */
    align-items: center; 
    /* horizontal center */
    justify-content: center; 
}