.landing {
    background-image: url("https://cdn.discordapp.com/attachments/709643259789705317/767913830314672157/room.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: #FFFFFF;
    -webkit-text-stroke: 2px black;
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    /* vertical center */
    align-items: center;
    /* horizontal center */
    justify-content: center;
}
.landing-options {
    display: flex;
    /* vertical center */
    align-items: center;
    /* horizontal center */
    justify-content: center;
    font-size: 30px;
}
.landing-options ol {
    list-style: none;
}
.landing-options li:hover {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}
.landing-options li {
    margin-bottom: 10px;
}